nav.section-breadcrumb
	ol.breadcrumb
		li.breadcrumb-item
			a(href='index.html')
				i.home-icon
				| Home
		li.breadcrumb-item
			a(href='information.html') Information
		li.breadcrumb-item.active About company