-var nav={1:{"link":"cabinet-account.html", "name":"Account"},2:{"link":"cabinet-add.html", "name":"Activation token"},3:{"link":"cabinet-withdraw.html", "name":"Withdraw"},4:{"link":"cabinet-history.html", "name":"History"},5:{"link":"cabinet-referrals.html", "name":"Referrals"},6:{"link":"cabinet-load.html", "name":"Loading banners"},7:{"link":"cabinet-banners.html", "name":"Banners"},8:{"link":"cabinet-setting.html", "name":"Setting"}}

